In [37]:
import numpy as np
import matplotlib as plt
import os
import csv
import pandas as pd
import json
import math

In [38]:
# specify file directory
path = os.getcwd()
who_f = "../COVID-19/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv"
csse_us = "../COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
csse_world = "../COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
population = "../../UN_population_1.csv"

In [5]:
# def writejson(header,content,fname):
#     newdict = dict()
#     for i in range(len(header)):

In [5]:
df_who = pd.read_csv(who_f)
df_who.head(30)
#print(df_who.isnull().any())

#df_who.fillna(0)
df_who.dtypes
df_who[["Province/States"]][1:50]
#print(df_who.head(10))

# china: row 5 to 39
df_who_china = df_who.iloc[5:40,:].copy(deep=True)
print(df_who_china.tail(5))
df_who_country = df_who.copy(deep=True)
df_who_country = df_who_country.loc[40:,:]
df_who_china.isnull().sum(axis=1) # for each row how many missing
df_who_country.isnull().sum(axis=1)
#df_who_china.isnull().sum(axis=0)
df_who_country.head(5)

# cleaned WHO global dataset (including China not by province)
clean_who_country = df_who_country.loc[:,"Country/Region":].copy(deep=True)
print(clean_who_country.head(5))
clean_who_country.drop(columns="WHO region",axis=1, inplace=True)
clean_who_country.fillna(0,inplace=True)
print(clean_who_country.head(5))
clean_who_country.to_csv("../active_data/WHO_country.csv")

   Province/States Country/Region              WHO region  1/21/2020  \
35          Taiwan          China  Western Pacific Region        NaN
36         Qinghai          China  Western Pacific Region        NaN
37           Macau          China  Western Pacific Region        NaN
38          Xizang          China  Western Pacific Region        NaN
39    Unspecified*          China  Western Pacific Region        NaN

    1/22/2020  1/23/2020  1/24/2020  1/25/2020  1/26/2020  1/27/2020  ...  \
35        1.0        1.0        1.0        3.0        3.0        4.0  ...
36        NaN        NaN        NaN        NaN        NaN        NaN  ...
37        NaN        1.0        2.0        2.0        2.0        5.0  ...
38        NaN        NaN        NaN        NaN        NaN        NaN  ...
39        NaN      131.0      384.0        NaN        NaN        NaN  ...

    3/25/2020  3/26/2020  3/27/2020  3/28/2020  3/29/2020  3/30/2020  \
35        NaN        NaN        NaN        NaN        NaN        NaN
36        NaN        NaN        NaN        NaN        NaN        NaN
37        NaN        NaN        NaN        NaN        NaN        NaN
38        NaN        NaN        NaN        NaN        NaN        NaN
39        NaN        NaN        NaN        NaN        NaN        NaN

    3/31/2020  4/1/2020  4/2/2020  4/3/2020
35        NaN       NaN       NaN       NaN
36        NaN       NaN       NaN       NaN
37        NaN       NaN       NaN       NaN
38        NaN       NaN       NaN       NaN
39        NaN       NaN       NaN       NaN

[5 rows x 77 columns]
       Country/Region              WHO region  1/21/2020  1/22/2020  \
40              China  Western Pacific Region      278.0      309.0
41  Republic of Korea  Western Pacific Region        1.0        1.0
42          Australia  Western Pacific Region        NaN        NaN
43           Malaysia  Western Pacific Region        NaN        NaN
44              Japan  Western Pacific Region        1.0        1.0

    1/23/2020  1/24/2020  1/25/2020  1/26/2020  1/27/2020  1/28/2020  ...  \
40      571.0      830.0     1297.0     1985.0     2741.0     4537.0  ...
41        1.0        2.0        2.0        2.0        4.0        4.0  ...
42        NaN        NaN        3.0        3.0        4.0        5.0  ...
43        NaN        NaN        NaN        3.0        4.0        4.0  ...
44        1.0        1.0        3.0        3.0        4.0        6.0  ...

    3/25/2020  3/26/2020  3/27/2020  3/28/2020  3/29/2020  3/30/2020  \
40    81848.0    81961.0    82078.0    82230.0    82341.0    82447.0
41     9137.0     9241.0     9332.0     9478.0     9583.0     9661.0
42     2252.0     2799.0     2985.0     3635.0     3966.0     3966.0
43     1624.0     1796.0     2031.0     2161.0     2320.0     2470.0
44     1193.0     1291.0     1387.0     1499.0     1693.0     1866.0

    3/31/2020  4/1/2020  4/2/2020  4/3/2020
40    82545.0   82631.0   82724.0   82802.0
41     9786.0    9887.0    9976.0   10062.0
42     4359.0    4707.0    4976.0    5224.0
43     2626.0    2766.0    2908.0    3116.0
44     1953.0    2178.0    2384.0    2617.0

[5 rows x 76 columns]
       Country/Region  1/21/2020  1/22/2020  1/23/2020  1/24/2020  1/25/2020  \
40              China      278.0      309.0      571.0      830.0     1297.0
41  Republic of Korea        1.0        1.0        1.0        2.0        2.0
42          Australia        0.0        0.0        0.0        0.0        3.0
43           Malaysia        0.0        0.0        0.0        0.0        0.0
44              Japan        1.0        1.0        1.0        1.0        3.0

    1/26/2020  1/27/2020  1/28/2020  1/29/2020  ...  3/25/2020  3/26/2020  \
40     1985.0     2741.0     4537.0     5997.0  ...    81848.0    81961.0
41        2.0        4.0        4.0        4.0  ...     9137.0     9241.0
42        3.0        4.0        5.0        7.0  ...     2252.0     2799.0
43        3.0        4.0        4.0        4.0  ...     1624.0     1796.0
44        3.0        4.0        6.0        7.0  ...     1193.0     1291.0

    3/27/2020  3/28/2020  3/29/2020  3/30/2020  3/31/2020  4/1/2020  4/2/2020  \
40    82078.0    82230.0    82341.0    82447.0    82545.0   82631.0   82724.0
41     9332.0     9478.0     9583.0     9661.0     9786.0    9887.0    9976.0
42     2985.0     3635.0     3966.0     3966.0     4359.0    4707.0    4976.0
43     2031.0     2161.0     2320.0     2470.0     2626.0    2766.0    2908.0
44     1387.0     1499.0     1693.0     1866.0     1953.0    2178.0    2384.0

    4/3/2020
40   82802.0
41   10062.0
42    5224.0
43    3116.0
44    2617.0

[5 rows x 75 columns]

After examine WHO data, will impute country (other than China) NaN in the beginning to be 0.

In [3]:
df_us = pd.read_csv(csse_us)
print(df_us.shape) #(3253, 80)
print(list(df_us.columns.values.tolist()))
df_us.head(5)
df_us.tail(5)
#df_us.fillna(0)

(3253, 90)
['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20']

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
3248,84090053,US,USA,840,90053.0,Unassigned,Washington,US,0.0,0.0,...,274,303,344,501,483,533,648,677,915,838
3249,84090054,US,USA,840,90054.0,Unassigned,West Virginia,US,0.0,0.0,...,0,0,0,0,0,0,0,0,21,0
3250,84090055,US,USA,840,90055.0,Unassigned,Wisconsin,US,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3251,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3252,84099999,US,USA,840,99999.0,NaN,Grand Princess,US,0.0,0.0,...,103,103,103,103,103,103,103,103,103,103

In [4]:
type(df_us)
print(df_us.dtypes)
df_us_cleaned = df_us.loc[:,'1/22/20':]
df_us_label = df_us.loc[:,"Combined_Key"]
df_us_cleaned.head(5)
df_us_label

len(df_us_label)
#print(df_who.isnull().any())

UID         int64
iso2       object
iso3       object
code3       int64
FIPS      float64
           ...
4/5/20      int64
4/6/20      int64
4/7/20      int64
4/8/20      int64
4/9/20      int64
Length: 90, dtype: object

NameError: name 'df_who' is not defined

In [5]:
# convert to US (from states)
us_raw = pd.DataFrame(df_us.sum()[4:]).T
us_raw['Country/Region']="US"
us_raw.drop(columns="FIPS",axis=1, inplace=True)
us_raw.drop(columns="Province_State",axis=1, inplace=True)
us_raw.drop(columns="Country_Region",axis=1, inplace=True)
us_raw.drop(columns="Lat",axis=1, inplace=True)
us_raw.drop(columns="Long_",axis=1, inplace=True)
us_raw.drop(columns="Combined_Key",axis=1, inplace=True)

In [39]:
df_global = pd.read_csv(csse_world)
df_global.head(10)
#print(df_who.isnull().any())
#df_global.fillna(0)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,174,237,273,281,299,349,367,423,444,484
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,243,259,277,304,333,361,377,383,400,409
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,716,847,986,1171,1251,1320,1423,1468,1572,1666
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,376,390,428,439,466,501,525,545,564,583
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,7,8,8,8,10,14,16,17,19,19
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,7,7,9,15,15,15,15,19,19,19
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,1054,1054,1133,1265,1451,1451,1554,1628,1715,1795
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,532,571,663,736,770,822,833,853,881,921
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,80,84,87,91,93,96,96,96,99,100
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2032,2182,2298,2389,2493,2580,2637,2686,2734,2773

#### Provinces
* Australia: 10 - 17
* China: 51 - 83
* Canada: 37-47, 247-248, (Diamond princess)
* France: 109 - 117
* Denmark: 94-95
* Netherlands: 168-170
* UK islands (off-shore): 219-224

In [40]:
# get the rows by country
df_csse_world = pd.read_csv(csse_world)
df_csse_world.head(5)
df_csse_world[df_csse_world['Country/Region']=="Canada"].index

Int64Index([35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 231, 238, 245, 246], dtype='int64')

In [41]:
# df.loc[df['column_name'] == some_value]
df_australia = df_csse_world.loc[df_csse_world['Country/Region']=="Australia"].copy()
df_china = df_csse_world.loc[df_csse_world['Country/Region']=="China"].copy()
df_canada = df_csse_world.loc[df_csse_world['Country/Region']=="Canada"].copy()
df_france = df_csse_world.loc[df_csse_world['Country/Region']=="France"].copy()
df_denmark = df_csse_world.loc[df_csse_world['Country/Region']=="Denmark"].copy()
df_netherland = df_csse_world.loc[df_csse_world['Country/Region']=="Netherlands"].copy()
df_ukislands = df_csse_world.loc[df_csse_world['Country/Region']=="United Kingdom"].copy()
compoundcountry = ["Australia","China","Canada","France","Denmark","Netherlands","United Kingdom"]
df_csse_updated = df_csse_world.loc[-df_csse_world['Country/Region'].isin(compoundcountry)].copy()

In [42]:
# adjust canada (contained recovered, Diamond princess)
remove = ["Recovered","Diamond Princess"]
df_canada[-df_canada['Province/State'].isin(remove)].copy()
df_canada.to_csv("../active_data/csse_canada.csv")
canada_raw = pd.DataFrame(df_canada.sum()[4:]).T
#print(df_canada.head(5))
canada_raw['Country/Region']="Canada"
canada_raw

#["Canada",df_canada.loc[0,2],df_canada.loc[0,3]]+canada_raw

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,Country/Region
0,0,0,0,0,1,1,2,2,2,4,...,9560,11284,12437,12978,15756,16563,17872,19141,20654,Canada

In [43]:
# rest of the country
df_china.to_csv("../active_data/csse_china.csv")
china_raw = pd.DataFrame(df_china.sum()[4:]).T
china_raw['Country/Region']="China"

df_australia.to_csv("../active_data/csse_australia.csv")
aus_raw = pd.DataFrame(df_australia.sum()[4:]).T
aus_raw['Country/Region']="Australia"

df_france.to_csv("../active_data/csse_france.csv")
fr_raw = pd.DataFrame(df_france.sum()[4:]).T
fr_raw['Country/Region']="France"

df_denmark.to_csv("../active_data/csse_denmark.csv")
den_raw = pd.DataFrame(df_denmark.sum()[4:]).T
den_raw['Country/Region']="Denmark"

df_netherland.to_csv("../active_data/csse_netherland.csv")
net_raw = pd.DataFrame(df_netherland.sum()[4:]).T
net_raw['Country/Region']="Netherlands"

# the rest is only 2/3 states - ignored

In [44]:
# UK islands needs special treatment? (not the same location as UK itself)
df_ukislands.to_csv("../active_data/csse_uk.csv")
# uk_raw = pd.DataFrame(df_ukislands.sum()[4:]).T
# uk_raw['Country/Region']="UK"

In [45]:

df_ukislands.loc[:,'Country/Region']=df_ukislands.loc[:,'Province/State']
df_ukislands.at[223,'Country/Region'] = "UK"
df_ukislands.drop(columns="Lat",axis=1, inplace=True)
df_ukislands.drop(columns="Long",axis=1, inplace=True)
df_ukislands.drop(columns="Province/State",axis=1, inplace=True)

In [46]:
# csse merge all into one big dataset
# take out province
df_csse_updated.drop(columns="Province/State",axis=1, inplace=True)
df_csse_updated.drop(columns="Lat",axis=1, inplace=True)
df_csse_updated.drop(columns="Long",axis=1, inplace=True)

In [47]:
df_csse_updated.shape

(177, 80)

In [48]:
new_csse_world = pd.concat([df_csse_updated,net_raw,den_raw,fr_raw,china_raw,aus_raw,canada_raw,us_raw,df_ukislands])
# reorder
col_order = list(df_csse_updated.columns.values.tolist()) 

df_csse_updated.tail(5)
df_csse_updated = df_csse_updated[col_order]
new_csse_world.to_csv("../active_data/csse_world.csv")

In [49]:
list(df_csse_updated.columns.values.tolist())

['Country/Region',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20']

In [54]:
# normalized data (by country / 1000 population)

df_pop = pd.read_csv(population, thousands=',')
df_pop.head(5)
df_pop["2020"] = pd.to_numeric(df_pop["2020"])

# match the columns
pd.concat([df_pop,df_csse_updated]).drop_duplicates(keep=False)

,Country/Region,2020,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
0,Burundi,11890.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Comoros,869.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Djibouti,988.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Eritrea,3546.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ethiopia,114963.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Sierra Leone,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,2.0,2.0,4.0,6.0,6.0,6.0,7.0,7.0
257,Malawi,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,3.0,4.0,4.0,5.0,8.0,8.0,8.0
260,South Sudan,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,3.0
261,Western Sahara,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0
262,Sao Tome and Principe,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0

In [58]:
df_new = df_pop.merge(df_csse_updated, left_on='Country/Region', right_on='Country/Region')

print(df_new)
df_new.isnull().values.any() # all names matched

# Used to have 177 columns -> check which ones did not match
count1 = df_pop['Country/Region'].tolist()
count2 = df_csse_updated['Country/Region'].tolist()

list(set(count2).difference(count1))

       Country/Region        2020  1/22/20  1/23/20  1/24/20  1/25/20  \
0             Burundi   11890.780        0        0        0        0
1            Djibouti     988.000        0        0        0        0
2             Eritrea    3546.430        0        0        0        0
3            Ethiopia  114963.580        0        0        0        0
4               Kenya   53771.300        0        0        0        0
..                ...         ...      ...      ...      ...      ...
166            Monaco      39.240        0        0        0        0
167       Switzerland    8654.620        0        0        0        0
168                US  331002.650        1        1        2        2
169  Diamond Princess       3.711        0        0        0        0
170        MS Zaandam       2.047        0        0        0        0

     1/26/20  1/27/20  1/28/20  1/29/20  ...  3/31/20  4/1/20  4/2/20  4/3/20  \
0          0        0        0        0  ...        2       2       3       3
1          0        0        0        0  ...       30      33      40      49
2          0        0        0        0  ...       15      15      22      22
3          0        0        0        0  ...       26      29      29      35
4          0        0        0        0  ...       59      81     110     122
..       ...      ...      ...      ...  ...      ...     ...     ...     ...
166        0        0        0        0  ...       52      55      60      64
167        0        0        0        0  ...    16605   17768   18827   19606
168        5        5        5        5  ...   188172  213372  243762  275586
169        0        0        0        0  ...      712     712     712     712
170        0        0        0        0  ...        2       9       9       9

     4/4/20  4/5/20  4/6/20  4/7/20  4/8/20  4/9/20
0         3       3       3       3       3       3
1        50      59      90      90     135     135
2        29      29      31      31      33      33
3        38      43      44      52      55      56
4       126     142     158     172     179     184
..      ...     ...     ...     ...     ...     ...
166      66      73      77      79      81      84
167   20505   21100   21657   22253   23280   24051
168  308853  337072  366667  396223  429052  461437
169     712     712     712     712     712     712
170       9       9       9       9       9       9

[171 rows x 81 columns]

['Congo (Kinshasa)',
 'Congo (Brazzaville)',
 'Kosovo',
 "Cote d'Ivoire",
 'Burma',
 'West Bank and Gaza']

### Normalization
* Countries that does not match up discarded:
    * 'Congo (Kinshasa)',
    *  'Congo (Brazzaville)',
    *  'Kosovo',
    *  "Cote d'Ivoire",
    *  'Burma',
    *  'West Bank and Gaza']
* rest divided by the thousandth of the population

In [65]:
# Divide by column
df_new2 = df_new.loc[:,"1/22/20":"4/9/20"].div(df_new["2020"], axis=0)

df_new2.insert(0, "Country/Region",df_new['Country/Region'].tolist() , True) 
df_new2.head(10)

lst1 = df_new['Country/Region'].tolist() 
lst2 = df_new2['Country/Region'].tolist()
lst1 == lst2 # check order of country/regions

# check date order
list(df_new2.columns.values.tolist())

['Country/Region',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20']

In [ ]:
# save the normalized data
df_new2.to_csv("../active_data/csse_world_normalized.csv")